<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Jacob Clark - Web/Software Developer & Technical Architect.</title>
  <meta name="description" content="Manchester based Software/Web Developer &amp; Technical Architect specialising in the modern web with a wide range of industry experience incl; broadcast media, government, retail and digital agencies.">
  <meta name="author" content="Jacob Clark">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:site_name" content="Jacob Clark" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Jacob Clark" />
  <meta property="og:description" content="Manchester based Software/Web Developer &amp; Technical Architect specialising in the modern web with a wide range of industry experience incl; broadcast media, government, retail and digital agencies." />
  <meta property="og:url" content="http://jacob.uk.com/" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Jacob Clark" />
  <meta name="twitter:description" content="Manchester based Software/Web Developer &amp; Technical Architect specialising in the modern web with a wide range of industry experience incl; broadcast media, government, retail and digital agencies." />
  <meta name="twitter:url" content="http://jacob.uk.com/" />

  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Website",
        "publisher": "Jacob Clark",
        "url": "http://jacob.uk.com/",
        "description": "Manchester based Software/Web Developer &amp; Technical Architect specialising in the modern web with a wide range of industry experience incl; broadcast media, government, retail and digital agencies."
    }
  </script>

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

    <div class="container">
      <div class="row header">
          <div class="twelve align-text-center">
              <h2>Jacob Clark</h2>
              
              <img src="https://en.gravatar.com/userimage/10826135/e79ebe34b7e91b03c340146ec6939806.jpg?size=600" class="profile-photo-header">
              
              <p>Web/Software Developer & Technical Architect</p>
              <p><a href="http://blog.jacob.uk.com">My Blog</a> &middot; <a href="http://twitter.com/imjacobclark">@imjacobclark</a></p>
          </div>    
      </div>

      <hr />

    	{{{body}}}

      <hr />

      <div class="row">
        <div class="twelve columns">
          &copy; Jacob Clark 2015.
        </div>
      </div>
   	</div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '55833d2dde2e262dc9002a87');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://track.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body>
</html>