<div class="row">
    <div class="five offset-by-three columns" class="align-text-center">
        <h5><strong>Internal Server Error</strong></h5>
        <p>Something has gone terribly wrong, please try again.</p>
    </div>
</div>