<div class="row">
    <div class="ten columns" style="margin-top: 5%">
        <h4>Jacob Clark</h4>
        <p>Web/Software Developer & Technical Architect.</p>
    </div>

     <div class="two columns" style="margin-top: 5%">
        <img src="https://en.gravatar.com/userimage/10826135/e79ebe34b7e91b03c340146ec6939806.jpg?size=600" style="background-repeat: no-repeat; background-position: 50%; border-radius: 50%; width: 100px; height: 100px;">
    </div>
</div>

<hr/>

<div class="row">
    <div class="twelve columns">
        <h4>About me</h4>
        <p><strong>Not available for hire.</strong></p>

        <p>I have a wide range of industry experience, public and private, including Broadcast Media, Government, Retail and Digital Agencies developing bespoke business critical applications, such companies include: The BBC, The Department for Work and Pensions (DWP), Sofaworks, CSL Sofas, Liverpool John Lennon Airport, Persil, McBride Group, Advanced Foster Group, Wigan & Leigh College, Barton Park and Just 4 Rugby.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4>Recent blog posts:</h4>

    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4>Who I've worked for:</h4>

        <ul>
            <h5>The BBC - <small>Web Developer</small></h5>
            <h5>The Department for Work and Pensions - <small>Development Lead & Technical Architect</small></h5>
            <h5>Sofaworks - <small>Software Developer</small></h5>
            <h5>Parker Sandford - <small>Web Developer</small></h5>
            <h5>Email by ATTAIN - <small>Software Developer</small></h5>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4>Who I've worked with:</h4>

        <ul>
            <li>The BBC</li>
            <li>The Department for Work and Pensions</li>
            <li>Sofaworks</li>
            <li>Parker Sandford</li>
            <li>Email by ATTAIN</li>
        </ul>
    </div>
</div>

