<html>
    <head>
        <title>Jacob Clark</title>
        
        <meta charset="utf-8">
        <meta name="description" content="Manchester based experienced senior software engineer/web developer and technical architect specialising in modern digital technologies." />
        <meta name="keywords" content="jacob, clark, senior, web, developer, senior web developer, manchester, architect, software, open, source, github" />
        <meta name="author" content="Jacob Clark">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41278291-1', 'auto');
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Jacob Clark</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://blog.jacob.uk.com">Blog</a>
                        </li>
                        
                        <li>
                            <a href="https://twitter.com/imjacobclark">Twitter</a>
                        </li>
                        
                        <li>
                            <a href="https://github.com/imjacobclark">GitHub</a>
                        </li>
                        
                        <li>
                            <a href="https://medium.com/@imjacobclark">Medium</a>
                        </li>
                        
                        <li>
                            <a href="https://uk.linkedin.com/in/imjacobclark">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/me.jpeg" class="center-block hidden-sm hidden-xs img-circle img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h3>About me</h3>
                        <p>
                            Experienced Senior Software Engineer/Web Developer and Technical Architect specialising in modern digital technologies.
                            
                            <br>
                            <br>
                            
                            I have a wide range of industry experience, public and private, including Broadcast Media, Government, Retail and Digital Agencies. 
                            
                            <br>
                            <br>
                            
                            I've worked with many well know companies throughout my career including: The BBC, The Department for Work and Pensions (DWP), Sofology (Sofaworks/CSL Sofas), Liverpool John Lennon Airport, McBride Group (Surcare, Persil), Advanced Foster Group, Wigan & Leigh College, Barton Park and Just 4 Rugby.
                        </p>
                        
                        <br/>
                    
                        <p>
                            <a href="https://twitter.com/imjacobclark" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @imjacobclark</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Professional Background</h1>
                        
                        <p>Experienced designing and implementing application development, continuous integration, automated testing, cloud infrastructure and DevOps strategies.</p>

                        <p>I particularly specialise in: </p>
                        
                        <ul>
                            <li>Designing and developing scalable, large, cross-business enterprise and application architectures.</li>
                            <li>Integration of legacy applications into modern digital applications.</li>
                            <li>New business/product development from MVP into mature, maintainable and well structured software/enterprise architectures.</li>
                            <li>Business transformation (re-branding, re-launching & process improvement).</li>
                            <li>Designing cloud infrastructure architectures on-top of continuous integration and delivery principles.</li>
                        </ul>
                        
                        <p>Other skills and interests include; agile, emerging software development techniques, client side frameworks, server side frameworks, relational/non-relational database systems, continuous integration, testing, version control & sysadmin unix/linux.</p>
                        
                        <p><a href="mailto:jacob.jh.clark@googlemail.com">Get in touch</a>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Career</h1>
                        <ul>
                            <li>BBC - Senior Web Developer (December 2015 - Present)</li>
                            <li>BBC - Web Developer (November 2014 - December 2015)</li>
                            <li>Department for Work and Pensions - Technical Architect (April 2014 - November 2014)</li>
                            <li>Sofology (prev. Sofaworks & CSL Sofas) - Software Developer (December 2012 - April 2014)</li>
                            <li>Parker Sandford - Web Developer (January 2012 - December 2012)</li>
                            <li>ATTAIN - Multi-Channel Communications - Software Developer (January 2012 - December 2012)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Projects</h1>
                        <ul>
                            <li><a href="https://chrome.google.com/webstore/detail/github-notifier/ekjiicgclcmjodoijejldoohdlomjlhl?hl=en">GitHub Notifier extension for Chrome</a></li>
                            <li><a href="http://ngaas.jacob.uk.com">Name Generator (as a service)</a></li>
                            <li><a href="http://devnews.today">Developer News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Open Source</h1>
                        <p>I have contributed to several large open source projects, including; <a href="http://svn.php.net/viewvc?view=revision&revision=333100">PHP</a>, <a href="https://hg.mozilla.org/mozilla-central/rev/b37785254785">Firefox</a>, <a href="https://gerrit.wikimedia.org/r/#/c/110693/7">MediaWiki</a>, <a href="https://github.com/mitchellh/vagrant/pulls?q=is%3Apr+author%3Aimjacobclark+is%3Aclosed">Vagrant</a>, <a href="https://github.com/gruntjs/grunt-init/pulls?q=is%3Apr+author%3Aimjacobclark+is%3Aclosed">Grunt</a> and <a href="https://github.com/kubernetes/heapster/pulls?q=is%3Apr+author%3Aimjacobclark+is%3Aclosed">Google Heapster</a>.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About this site</h1>
                        <p>jacob.uk.com is built in Node.js, Express & Bootstrap, bundled into a Docker container with all the source code avaiable on GitHub. The container is hosted on a Digital Ocean virtual machine running Ubuntu whilst exposing the application running on the container to a particular port, this port is then proxied out and cached via nginx over a secure TLS connection with a signed certificate from Let's Encrypt, nginx is then fronted by CloudFlare for both DNS (domain lookup) and distributed static cache, CloudFlare will finally deliver jacob.uk.com over a secure TLS connection via HTTP/2 + SPDY to your client.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <a href="http://twitter.com/imjacobclark"><i class="fa fa-5x fa-fw -square fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="http://github.com/imjacobclark"><i class="fa fa-5x fa-fw hub-square fa-github"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://uk.linkedin.com/in/imjacobclark"><i class="fa fa-5x fa-fw hub fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <p>&copy; Jacob Clark 2016</p>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            var _gauges = _gauges || [];
            (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '55833d2dde2e262dc9002a87');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://track.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
            })();
        </script>
    </body>
</html>
