<html>
    <head>
        <title>Jacob Clark</title>
        
        <meta charset="utf-8">
        <meta name="description" content="Manchester based technologist. Specialising in the architecture and engineering of large, complex web applications." />
        <meta name="keywords" content="jacob, clark, senior, web, developer, senior web developer, manchester, architect, software, open, source, github" />
        <meta name="author" content="Jacob Clark">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
               display: none !important;
            }
        </style>
        
        <link href="/stylesheets/font-awesome-1458557676.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/bootstrap-1458557676.css" rel="stylesheet" type="text/css">
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41278291-1', 'auto');
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Jacob Clark</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://blog.jacob.uk.com">Blog</a>
                        </li>
                        
                        <li>
                            <a href="https://twitter.com/imjacobclark">Twitter</a>
                        </li>
                        
                        <li>
                            <a href="https://github.com/imjacobclark">GitHub</a>
                        </li>
                        
                        <li>
                            <a href="https://medium.com/@imjacobclark">Medium</a>
                        </li>
                        
                        <li>
                            <a href="https://uk.linkedin.com/in/imjacobclark">LinkedIn</a>
                        </li>
                        
                        <li>
                            <a href="/pgp/jacob.jh.clark@googlemail.com.txt.asc">PGP key</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/me.jpeg" class="center-block hidden-sm hidden-xs img-circle img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h3>About me</h3>
                        <p>
                            Experienced technologist currently working as a Lead Engineer at the <a href="http://www.coop.co.uk/">Co-op</a> <a href="https://digital.blogs.coop/">Digital</a>. Specialising in the architecture and engineering of large, complex web applications.
                            
                            <br>
                            <br>
                            
                            I have a wide range of public and private industry experience including: Travel, Leisure, Broadcast Media, Government, eCommerce, Retail and Digital Agencies. 
                            
                            <br>
                            <br>
                            
                            I've worked with many well know companies throughout my career including: The Co-op, Rentalcars.com, Rideways, The BBC (Knowledge and Learning), The Department for Work and Pensions (Chief Technology Office), Sofology (previously Sofaworks/CSL Sofas), Liverpool John Lennon Airport, McBride Group (Surcare, Persil), Advanced Foster Group and Wigan & Leigh College.

                            <br/>
                            <br/>
                            
                            <a href="/pgp/jacob.jh.clark@googlemail.com.txt.asc">Public PGP key for jacob.jh.clark@googlemail.com</a>

                        </p>
                        
                        <br/>
                    
                        <p>
                            <a href="https://twitter.com/imjacobclark" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @imjacobclark</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Professional Background</h1>
                        
                        <p>Experienced designing and implementing application development, continuous integration, automated testing, cloud infrastructure and DevOps strategies.</p>

                        <p>I particularly specialise in: </p>
                        
                        <ul>
                            <li>JavaScript (Client/Node), Java (Spring Boot), PHP (Laravel), CouchDB, REST, Sass, BEM, CI/CD, Jenkins, AWS, Docker, TDD/BDD & Cucumber.</li>
                            <li>Architecting and building accessible and responsive digital experiences - focusing on and driving end user needs through analytics and data.</li>
                            <li>Designing and developing scalable, large, cross-business enterprise and application architectures.</li>
                            <li>Integration of legacy applications into modern digital applications.</li>
                            <li>New business/product development from MVP into mature, maintainable and well structured software/enterprise architectures.</li>
                            <li>Business transformation (re-branding, re-launching & process improvement).</li>
                            <li>Designing cloud infrastructure architectures on-top of continuous integration and delivery best practices.</li>
                        </ul>
                        
                        <p>Other skills and interests include; agile, emerging software development techniques, client side frameworks, server side frameworks, relational/non-relational database systems, continuous integration, testing, version control & sysadmin unix/linux.</p>
                        
                        <p><a href="mailto:jacob.jh.clark@googlemail.com">Get in touch</a> - <a href="/pgp/jacob.jh.clark@googlemail.com.txt.asc">Public PGP key</a>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Career</h1>
                        <ul>
                            <li><a href="http://www.coop.co.uk/" target="_blank" rel="noopener noreferrer">Co-op</a> - Lead Engineer (October 2016 - Present)</li>
                            <li><a href="http://rentalcars.com" target="_blank" rel="noopener noreferrer">Rentalcars.com</a> - Senior Software Engineer (April 2016 - October 2016)</li>
                            <li><a href="http://bbc.co.uk" target="_blank" rel="noopener noreferrer">BBC</a> - Senior Web Developer (November 2014 - April 2016)</li>
                            <li><a href="https://www.gov.uk/government/organisations/department-for-work-pensions" target="_blank" rel="noopener noreferrer">Department for Work and Pensions</a> - Technical Architect (April 2014 - November 2014)</li>
                            <li><a href="http://sofology.co.uk" target="_blank" rel="noopener noreferrer">Sofology</a> (prev. Sofaworks & CSL Sofas) - Software Developer (December 2012 - April 2014)</li>
                            <li><a href="http://parkersandford.com" target="_blank" rel="noopener noreferrer">Parker Sandford</a> - Web Developer (January 2012 - December 2012)</li>
                            <li><a href="http://attain.uk.com" target="_blank" rel="noopener noreferrer">ATTAIN - Multi-Channel Communications</a> - Software Developer (January 2012 - December 2012)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Projects</h1>
                        <ul>
                            <li><a href="http://github.com/imjacobclark/cors-container">cors-container (a CORS proxy for development bundled as a container)</a> [Web]</li>
                            <li><a href="https://chrome.google.com/webstore/detail/github-notifier/ekjiicgclcmjodoijejldoohdlomjlhl?hl=en">GitHub Notifier extension for Chrome</a> [Chrome Extension]</li>
                            <li><a href="http://ngaas.jacob.uk.com">Name Generator (as a service)</a> [Web]</li>
                            <li><a href="http://devnews.today">Developer News</a> [Web]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-app="jacobukcom" id="belowTheFold" ng-cloak>
            <div class="section" ng-controller="OpenSourceController">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Open Source</h1>
                            <p>I have contributed to several large open source projects, including; <a href="http://svn.php.net/viewvc?view=revision&revision=333100">PHP</a>, <a href="https://github.com/mozilla/gecko-dev/commits/master?author=imjacobclark">Firefox</a>, <a href="https://github.com/rust-lang/rust/commits/master?author=imjacobclark">Rust</a>, <a href="https://github.com/rust-lang-nursery/rustfmt/commits/master?author=imjacobclark">rust-fmt</a>, </a></a><a href="https://github.com/wikimedia/mediawiki/commits/master?author=imjacobclark">MediaWiki</a>, <a href="https://github.com/mitchellh/vagrant/commits/master?author=imjacobclark">Vagrant</a>, <a href="https://github.com/gruntjs/grunt-init/commits/master?author=imjacobclark">Grunt</a>, <a href="https://github.com/kubernetes/heapster/commits/master?author=imjacobclark">Google Heapster</a>, <a href="https://github.com/pocketjoso/penthouse/commits/master?author=imjacobclark">Penthouse</a> and <a href="https://github.com/tldr-pages/tldr/commits/master?author=imjacobclark">tldr-pages</a>.</a></a></p>
                            
                            <p>I have {[{gitHubRepos.length}]} open source repositories on GitHub! Check them out at <a href="https://github.com/imjacobclark">github.com/imjacobclark</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>About this site</h1>
                            <p>jacob.uk.com is built in Node.js, Express & Bootstrap bundled into a Docker container with all the source code avaiable on GitHub. The container is hosted on a Digital Ocean virtual machine whose base image was baked by Packer, the virtual machine is running Ubuntu whilst exposing the application running on the container to a particular port, this port is then proxied out by Caddy over a secure HTTP/2 TLS connection with a signed certificate from Let's Encrypt. Your client will then render the HTML and execute a portion of Angular.js and track your visit through Gaug.es and Google Analytics. Once everything has completed, your browser will heavily cache this webpage (1 day).</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="section">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <a href="http://twitter.com/imjacobclark"><i class="fa fa-5x fa-fw -square fa-twitter"></i></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="http://github.com/imjacobclark"><i class="fa fa-5x fa-fw hub-square fa-github"></i></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="https://uk.linkedin.com/in/imjacobclark"><i class="fa fa-5x fa-fw hub fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <footer class="section" ng-controller="FooterController">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <p>{[{name}]} &middot; &copy; Jacob Clark 2016</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        <script type="text/javascript" defer>
            var _gauges = _gauges || [];
            (function() {
                var t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'gauges-tracker';
                t.setAttribute('data-site-id', '55833d2dde2e262dc9002a87');
                t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
                t.src = 'https://track.gaug.es/track.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
            })();
        </script>
        
        <script defer type="text/javascript" src="/javascript/jquery-1458557676.min.js" defer></script>
        <script defer type="text/javascript" src="/javascript/bootstrap-1458557676.min.js" defer></script>
        <script defer type="text/javascript" src="/javascript/angular-1458557676.min.js" defer></script>
        <script defer type="text/javascript" src="/javascript/app-1458557676.js" defer></script>
        <script defer>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </body>
</html>
