<html>
  <head>
    <title>Jacob Clark</title>
    <meta name="description" content="Senior Web/Software Developer and Architect currently working at the BBC." />
    <meta name="keywords" content="jacob, clark, senior, web, developer, senior web developer, manchester, architect, software, open, source, github" />
    <meta name="author" content="Jacob Clark">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main>
        <h1>Jacob Clark</h1>
        <p>
          <a href="http://github.com/imjacobclark" target="_blank">GitHub</a> &middot;
          <a href="http://twitter.com/imjacobclark" target="_blank">Twitter</a> &middot;
          <a href="http://linkedin.com/in/imjacobclark" target="_blank">LinkedIn</a> &middot;
          <a href="https://medium.com/@imjacobclark">Medium</a> &middot;
          <a href="http://instagram.com/imjacobclark" target="_blank">Instagram</a>
        </p>
        
        <h3>About me</h3>
        <p>Senior Web/Software Developer and Architect currently working at the BBC.</p>
        <p>I'm typically active under the username 'imjacobclark' on GitHub, Twitter, LinkedIn, Medium and Instagram.</p>
        
        <p>
          <a href="https://twitter.com/imjacobclark" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @imjacobclark</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
        
        <h3>Career</h3>
        <p>I'm currently working on high volume digital services at the BBC. In the past I have worked in UK government for the Department for Work and Pensions, leading retail company Sofaworks, and two digital agencies; Parker Sandfords and ATTAIN developing bespoke software for many leading UK companies.</p>

        <h3>Open Source</h3>
        <p>I have contributed to several large open source projects, including; <a href="http://svn.php.net/viewvc?view=revision&revision=333100">PHP</a>, <a href="https://hg.mozilla.org/mozilla-central/rev/b37785254785">Firefox</a>, <a href="https://gerrit.wikimedia.org/r/#/c/110693/7">MediaWiki</a>, <a href="https://github.com/mitchellh/vagrant/pulls?q=is%3Apr+author%3Aimjacobclark+is%3Aclosed">Vagrant</a>, <a href="https://github.com/gruntjs/grunt-init/pulls?q=is%3Apr+author%3Aimjacobclark+is%3Aclosed">Grunt</a> and <a href="https://github.com/kubernetes/heapster/pulls?q=is%3Apr+author%3Aimjacobclark+is%3Aclosed">Google Heapster</a>.</p>
        
        <h3>Projects</h3>
        <ul>
          <li><a href="https://chrome.google.com/webstore/detail/github-notifier/ekjiicgclcmjodoijejldoohdlomjlhl?hl=en">GitHub Notifier extension for Chrome</a></li>
          <li><a href="http://ngaas.jacob.uk.com">Name Generator (as a service)</a></li>
          <li><a href="http://devnews.today">Developer News</a></li>
        </ul>
        
        <h3><a href="https://medium.com/@imjacobclark">Medium</a> posts</h3>
        <p>
          <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@imjacobclark">Jacob Clark</a>
        </p>
  </main>
  <footer>
      <p>&copy; Jacob Clark 2015</p>
  </footer>
  
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '55833d2dde2e262dc9002a87');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://track.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  </body>
</html>
