<div class="row">
    <div class="twelve columns">
        <h4>About me</h4>
        <p>Software/Web Developer and Technical Architect specialising in scalable, modern, cloud based web applications.</p>

        <p>I have a wide range of industry experience, public and private, including Broadcast Media, Government, Retail and Digital Agencies developing bespoke business critical applications.</p>

        <p>Companies I've worked with include: The BBC, The Department for Work and Pensions (DWP), Sofaworks, CSL Sofas, Liverpool John Lennon Airport, Persil, McBride Group, Advanced Foster Group, Wigan & Leigh College, Barton Park and Just 4 Rugby.</p>

        <p>I can generally be found on IRC under the username <strong>imjacobclark</strong> in the <strong>irc.freenode.net</strong> channel.</p>
    </div>
</div>
