<html>
  <head>
    <title>Jacob Clark</title>
  </head>
  <body>
    <main>
        <h1>Jacob Clark</h1>
        <p>Web/Software Developer and Architect currently working at the BBC.</p>
        <p>
          <a href="http://github.com/imjacobclark" target="_blank">GitHub</a> &middot;
          <a href="http://twitter.com/imjacobclark" target="_blank">Twitter</a> &middot;
          <a href="http://linkedin.com/in/imjacobclark" target="_blank">LinkedIn</a> &middot;
          <a href="http://instagram.com/imjacobclark" target="_blank">Instagram</a>
      </p>
  </main>
  <footer>
      <p>&copy; Jacob Clark 2015</p>
  </footer>
  </body>
</html>
