.header {
	margin-top: 5%;
}

.profile-photo-header {
	background-repeat: no-repeat; 
	background-position: 50%; 
	border-radius: 50%; 
	width: 100px; 
	height: 100px;
}

.align-text-center {
	text-align: center
}