a {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: none;
}

.header {
	margin-top: 5%;
}

.profile-photo-header {
	background-repeat: no-repeat; 
	background-position: 50%; 
	border-radius: 50%; 
	width: 100px; 
	height: 100px;
}

.align-text-center {
	text-align: center
}

ul {
	list-style: none
}

.blog-posts p{
	margin-top: 20px;
}

.blog-posts a {
	color: #222;
	font-size: 18px;
	text-decoration: none;
}

.blog-posts a:hover {
	color: #666;
	text-decoration: none;
}