<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jacob Clark</title>
        
        <meta charset="utf-8">
        <meta name="description" content="Manchester based technologist. Specialising in the architecture and engineering of large, complex web applications." />
        <meta name="keywords" content="jacob, clark, senior, web, developer, senior web developer, manchester, architect, software, open, source, github" />
        <meta name="author" content="Jacob Clark">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="True" />
        
        <meta property="og:site_name" content="Jacob Clark" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Jacob Clark" />
        <meta property="og:description" content="Manchester based technologist. Specialising in the architecture and engineering of large, complex web applications." />
        <meta property="og:url" content="https://www.jacob.uk.com" />
        <meta property="og:image" content="https://www.jacob.uk.com/public/images/me.jpeg" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Jacob Clark" />
        <meta name="twitter:description" content="Manchester based technologist. Specialising in the architecture and engineering of large, complex web applications." />
        <meta name="twitter:url" content="https://www.jacob.uk.com" />
        <meta name="twitter:image" content="https://www.jacob.uk.com/public/images/me.jpeg" />
        
        <link rel="amphtml" href="https://cdn.ampproject.org/c/www.jacob.uk.com/amp">

        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Jacob Clark",
            "description": "Manchester based technologist. Specialising in the architecture and engineering of large, complex web applications.",
            "publisher": {
                "@type": "Person",
                "givenName": "Jacob",
                "familyName": "Clark"
            },
            "license": "https://github.com/imjacobclark/jacob.uk.com/blob/master/LICENCE"
        }
        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41278291-1', 'auto');
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
        
        <link href="public/stylesheets/bootstrap-1458557676.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">Jacob Clark</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://blog.jacob.uk.com">Blog</a>
                        </li>

                        <li>
                            <a href="https://twitter.com/imjacobclark">Twitter</a>
                        </li>

                        <li>
                            <a href="https://github.com/imjacobclark">GitHub</a>
                        </li>

                        <li>
                            <a href="https://medium.com/@imjacobclark">Medium</a>
                        </li>

                        <li>
                            <a href="https://uk.linkedin.com/in/imjacobclark">LinkedIn</a>
                        </li>

                        <li>
                            <a href="public/pgp/jacob.jh.clark@googlemail.com-1458557676.txt.asc">PGP key</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <main>
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="public/images/me.jpeg" class="center-block hidden-sm hidden-xs img-circle img-responsive" alt="An image of Jacob Clark presenting at the BBC">
                        </div>
                        <div class="col-md-8">
                            {{> partials/homepage/content-sections/about-me }}
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {{> partials/homepage/content-sections/professional-background }}
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {{> partials/homepage/content-sections/career }}
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {{> partials/homepage/content-sections/projects }}
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {{> partials/homepage/content-sections/open-source }}
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="section">
                <div class="container">
                    <div class="row">
                        {{> partials/homepage/content-sections/social-media }}
                    </div>
                </div>
            </section>
        </main>
        
        <footer class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        {{> partials/homepage/content-sections/footer }}
                    </div>
                </div>
            </div>
        </footer>

        <link href="public/stylesheets/font-awesome-1458557676.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="public/javascript/jquery-1458557676.min.js" defer></script>
        <script type="text/javascript" src="public/javascript/bootstrap-1458557676.min.js" defer></script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </body>
</html>
