<!doctype html>
<html amp lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jacob Clark</title>
        <link rel="canonical" href="https://www.jacob.uk.com" />

        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebPage",
                "name": "Jacob Clark",
                "description": "Manchester based technologist. Specialising in the architecture and engineering of large, complex web applications.",
                "publisher": {
                    "@type": "Person",
                    "givenName": "Jacob",
                    "familyName": "Clark"
                },
                "license": "https://github.com/imjacobclark/jacob.uk.com/blob/master/LICENCE"
            }
        </script>

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <style amp-custom>
            body {
                background-color: white;
                font-family: Lato;
                font-size: 14px;
                line-height: 1.42857143;
                padding: 20px;
            }
            strong {
                font-weight: bold
            }
        </style>

        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
    </head>
    <body>
        <main>
            <section class="section">
                <h1>Jacob Clark</h1>
                <hr />
                {{> partials/homepage/content-sections/about-me }}
            </section>

            <section class="section">
                {{> partials/homepage/content-sections/professional-background }}
            </section>

            <section class="section">
                {{> partials/homepage/content-sections/career }}
            </section>

            <section class="section">
                {{> partials/homepage/content-sections/projects }}
            </section>

            <section class="section">
                {{> partials/homepage/content-sections/open-source }}
            </section>
        </main>

        <footer class="section">
            {{> partials/homepage/content-sections/footer }}
        </footer>
    </body>
</html>
