<h1><%= @title %></h1>


<% @sections.each do |section| %>
  <h2><%= section.heading %></h2>

  <% if section.heading == 'GitHub' %>
    I have <%= get_github_count %> public repos on GitHub!
  <% else %>
    <p><%= section.markdown %></p>
  <% end %>
<% end %>

