@import "../vendor/skeleton";

.jacobclarkxyz__main-wrapper {
  @extend .container;

  background: #313546;
  color: #ffffff;
  margin-top: 3em;
}

.jacobclarkxyz__header-wrapper {
  @extend .row;
}

.jacobclarkxyz__heading {
  font-size: 3em;
  
  -webkit-animation: slidein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slidein 2s; /* Firefox < 16 */
   -ms-animation: slidein 2s; /* Internet Explorer */
    -o-animation: slidein 2s; /* Opera < 12.1 */
       animation: slidein 2s;
}

@keyframes slidein {
  from { opacity: 0; margin-left: -100px; }
  to   { opacity: 1; margin-left: 0px; }
}

main {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.jacobclarkxyz__profile-image {
  width: 200px;
  margin: 15px 15px 15px 0px;
}

.jacobclarkxyz__subheading {
  font-size: 2.0em;  
}

.jacobclarkxyz__section {
  margin-top: 20px;
}

p {
  color: #FFF;
}

a, a:visited, a:active {
  color: rgba(255, 255, 255, 0.65098);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #FFF;

}