@import "../vendor/skeleton";

.jacobclarkxyz__main-wrapper {
  @extend .container;

  background: #24292e;
  color: #ffffff;
  margin-top: 3em;
}

.jacobclarkxyz__header-wrapper {
  @extend .row;
}

.jacobclarkxyz__heading {
  font-size: 2.5em;
}

.jacobclarkxyz__subheading {
  font-size: 1.5em;  
}

.jacobclarkxyz__section {
  margin-top: 20px;
}

p {
  color: rgba(255, 255, 255, 0.65098);
}