<header>
    <h3>About me</h3>
</header>

<p>Experienced technologist and polyglot software engineer currently working at <a href="http://www.coop.co.uk/">Co-op</a> <a href="https://digital.blogs.coop/">Digital</a>, specialising in the engineering and architecture of modern digital services.</p>
<p>I have a wide range of public and private industry experience in travel, leisure, broadcast media, government, eCommerce, retail, co-operative and digital agencies.</p>
<p><a href="public/pgp/jacob.jh.clark@googlemail.com-1458557676.txt.asc">Public PGP key for jacob.jh.clark@googlemail.com</a></p>

