<header>
    <h3>About me</h3>
</header>

<p>Experienced technologist currently working as a Lead Engineer at the <a href="http://www.coop.co.uk/">Co-op</a> <a href="https://digital.blogs.coop/">Digital</a>. Specialising in the architecture and engineering of large, complex web applications.</p>
<p>I have a wide range of public and private industry experience including: Travel, Leisure, Broadcast Media, Government, eCommerce, Retail and Digital Agencies.</p>
<p>I've worked with many well know companies throughout my career including: The Co-op, Rentalcars.com, Rideways, The BBC (Knowledge and Learning), The Department for Work and Pensions (Chief Technology Office), Sofology (previously Sofaworks/CSL Sofas), Liverpool John Lennon Airport, McBride Group (Surcare, Persil), Advanced Foster Group and Wigan & Leigh College.</p>
<p><a href="public/pgp/jacob.jh.clark@googlemail.com-1458557676.txt.asc">Public PGP key for jacob.jh.clark@googlemail.com</a></p>