<header>
    <h1>Career</h1>
</header>

<ul>
    <li><a href="http://www.coop.co.uk/" target="_blank" rel="noopener noreferrer">Co-op Digital</a> - Lead Engineer (October 2016 - Present)</li>
    <li><a href="http://rentalcars.com" target="_blank" rel="noopener noreferrer">Rentalcars.com</a> - Senior Software Engineer (April 2016 - October 2016)</li>
    <li><a href="http://bbc.co.uk" target="_blank" rel="noopener noreferrer">BBC</a> - Senior Web Developer (December 2015 - April 2016), Web Developer (November 2014 - December 2015)</li>
    <li><a href="https://www.gov.uk/government/organisations/department-for-work-pensions" target="_blank" rel="noopener noreferrer">Department for Work and Pensions</a> - Technical Architect (April 2014 - November 2014)</li>
    <li><a href="http://sofology.co.uk" target="_blank" rel="noopener noreferrer">Sofology</a> (prev. Sofaworks & CSL Sofas) - Software Developer (December 2012 - April 2014)</li>
    <li><a href="http://parkersandford.com" target="_blank" rel="noopener noreferrer">Parker Sandford</a> - Web Developer (January 2012 - December 2012)</li>
    <li><a href="http://attain.uk.com" target="_blank" rel="noopener noreferrer">ATTAIN - Multi-Channel Communications</a> - Software Developer (January 2012 - December 2012)</li>
</ul>