<header>
    <h1>Professional Background</h1>
</header>

<p>I specialise in:</p>

<ul>
    <li>JavaScript, Java, PHP, SQL, CouchDB, REST, Sass, BEM, CI/CD, Jenkins, AWS, Docker, TDD/BDD & Cucumber</li>
    <li>Designing and implementing strategies for application development, continuous integration, automated testing and cloud deployment</li>
    <li>Architecting and building accessible and responsive digital experiences driven by analytics and data</li>
    <li>Designing and developing scalable application architectures with agility built in</li>
    <li>Building cultures of collaboration, autonomy and ownership within engineering teams to ship quality software faster</li>
    <li>Legacy service transformation and decommissioning into modern digital solutions</li>
    <li>New business and product development from MVP to maintainable software and enterprise architectures</li>
    <li>Business transformation (re-branding, re-launching & process improvement)</li>
</ul>

<p>Other skills and interests include agile, emerging software development techniques, client side frameworks, server side frameworks, relational/non-relational database systems, continuous integration/delivery, testing, version control & devops.</p>

<p><a href="mailto:jacob.jh.clark@googlemail.com">Get in touch</a> - <a href="public/pgp/jacob.jh.clark@googlemail.com-1458557676.txt.asc">Public PGP key</a>.</p>


