<header>
    <h1>Projects</h1>
</header>

<ul>
    <li><a href="http://github.com/imjacobclark/cors-container">cors-container (a CORS proxy for development bundled as a container)</a> [Web]</li>
    <li><a href="https://chrome.google.com/webstore/detail/github-notifier/ekjiicgclcmjodoijejldoohdlomjlhl?hl=en">GitHub Notifier extension for Chrome</a> [Chrome Extension]</li>
    <li><a href="http://ngaas.jacob.uk.com">Name Generator (as a service)</a> [Web]</li>
    <li><a href="http://devnews.today">Developer News</a> [Web]</li>
</ul>