<div class="col-md-12">
    <header>
        <h1>Social Media</h1>
    </header>
</div>
<div class="col-md-12">
    <span class="text-center">
        <div class="col-xs-4">
            <a href="http://twitter.com/imjacobclark"><i class="fa fa-5x fa-fw -square fa-twitter"><span class="sr-only">Twitter</span></i></a>
        </div>
        <div class="col-xs-4">
            <a href="http://github.com/imjacobclark"><i class="fa fa-5x fa-fw hub-square fa-github"><span class="sr-only">GitHub</span></i></a>
        </div>
        <div class="col-xs-4">
            <a href="https://uk.linkedin.com/in/imjacobclark"><i class="fa fa-5x fa-fw hub fa-linkedin"><span class="sr-only">LinkedIn</span></i></a>
        </div>
    </span>
</div>